<!DOCTYPE html>
<html>
    <head>
        <title>Home Page</title>
        <link rel="stylesheet" href="./css/pages_with_content.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script type="text/javascript" src="/js/feed.js"></script>
    </head>
    <body >
        <div class="page">
            {{>header details=this}}
            <div class ="lower_body">
                <!--the nav_bar contains the links to home and trending-->
                <div class="nav_bar">
                    <a href="home">Home</a><br>
                    <a href="error">Trending</a>
                </div>
                <div class="main_body">
                      <!--this is where the POSTS start-->
                      {{#if flag}}
                      <div class="create_posts">
                            
                        <form>
                            <div class="profile_picture_bubble" id ="{{uniqueId userName}}" ></div>
                            <a href="create_post">
                            <input type="text" placeholder="What's on your mind?"><br>
                            <input type="submit" value="POST">
                            </a>
                        </form>
                    </div>
                    {{/if}}

                    <div id="new_post" {{#if posts}} style="display:block;"{{/if}}>
                        {{#each posts}}
                            {{>posts_card this}}
                        {{/each}}
                    </div>   
                </div>
            </div>
      </div>
    </body>
</html>