<!DOCTYPE html>
<html>
    <head>
        <title>Post Page</title>
        <link rel="stylesheet" href="./css/pages_with_content.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script type="text/javascript" src="/js/feed.js"></script>
    </head>
    <body >
        <div class="page">
            {{>header details=this}}
            <div class ="lower_body">
                <!--the nav_bar contains the links to home and trending-->
                {{>general_nav_bar}}
                <div class="main_body">

                    <div id="posts_card">
                            {{>posts_card posts}}
                    </div>   
                </div>
            </div>
      </div>
    </body>
</html>