<!DOCTYPE html>
<html>
    <head>
        <title>Home Page</title>
        <link rel="stylesheet" href="./css/pages_with_content.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script type="text/javascript" src="/js/feed.js"></script>
    </head>
    <body >
        <div class="page">
            {{>header details=this}}

                    <div id="new_post" {{#if posts}} style="display:block;"{{/if}}>
                        {{#each posts}}
                            {{>posts_card this}}
                        {{/each}}
                    </div>   
                </div>
            </div>
      </div>
    </body>
</html>