<!DOCTYPE html>
<html>
    <head>
        <title>Create a post</title>
        <link rel="stylesheet" type="text/css" href="./css/pages_with_content.css">
        <script type="text/javascript" src="../scripts/posts.js"></script>
    </head>
    <body onload="submit_post_form(where); profile_redirect();">
        <div class="page">
            <div class="header">
                <span class="animo_hub">AnimoHub</span>
                <form id ="search">
                <input type="text" placeholder="search AnimoHub" class="search_bar">
                <input type="submit" value="Search" class="search_button">
                </form>
                <div class="profile_drop_down">
                    <div class="profile_drop_down_interface">
                        <a href="profile_page_John.html"><div class="profile_picture_bubble JohnDoe"></div></a>
                        <div class="user_identity">
                            John Doe
                            <p class="user_name">@johnny26</p>
                       </div>
                    </div>
                    <div class="profile_drop_down_options">
                        <a href="editprofile.html">Edit</a>
                        <a href="login.html">SignOut</a>
                    </div>
                </div>
            </div>
            <div class="lower_body">
                <div class="nav_bar">
                    <a href="home(loggedin).html">Home</a><br>
                    <a href="maintenance_page.html">Trending</a>
                </div>
                <div class="main_body post_creation">
                    <div class="feed create_post_feed">
                        <div class="white_box create_post_whitebox">
                            <form id="create_post_form" class="flex_col" action="home(loggedin).html">
                                <div class="flex_row center_align">
                                    <div class="profile_picture_bubble JohnDoe"></div>
                                    <div class="user_identity">
                                        John Doe
                                        <p class="user_name">@johnny26</p>
                                    </div>  
                                </div>
                                <hr>
                                <textarea placeholder="title" id="post_create_title" name="post_create_title" required></textarea>
                                <textarea placeholder="content" id="post_create_content" name="post_create_content" ></textarea>
                                <input type="submit" value="Post" class="post_button">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </body>
</html>