<!DOCTYPE html>
<html>
    <head>
        <title>Create a post</title>
        <link rel="stylesheet" type="text/css" href="./css/pages_with_content.css">
    </head>
    <body>
        <div class="post">
            <div class="header">
                <span class="animo_hub">AnimoHub</span>
                <form id ="search">
                <input type="text" placeholder="search AnimoHub" class="search_bar">
                <input type="submit" value="Search" class="search_button">
                </form>
                <div class="profile_drop_down">
                    <div class="profile_drop_down_interface">
                        <div class="profile_picture_bubble"></div>
                        <div class="user_identity">
                            John Doe
                            <p class="user_name">@johnny26</p>
                       </div>
                    </div>
                    <div class="profile_drop_down_options">
                        <a href="editprofile.html">Edit</a>
                        <a href="login.html">SignOut</a>
                    </div>
                </div>
            </div>
            <div class="lower_body">
                <div class="nav_bar">
                    <a href="home.html">Home</a><br>
                    <a href="trending.html">Trending</a>
                </div>
                <div class="main_body"></div>
            </div>
        </div>

    </body>
</html>