<!DOCTYPE html>
    <head>
        <title>Home Page (Visitor Mode)</title>
        <link rel="stylesheet" href="./css/pages_with_content.css">
        <script type="text/javascript" src="../scripts/posts.js"></script>
    </head>

    <body>
        <div class="page">
            <div class="header">
                  <span class="animo_hub">AnimoHub</span>
                  <form id ="search">
                  <input type="text" placeholder="search AnimoHub" class="search_bar">
                  <input type="submit" value="Search" class="search_button">
                  </form>
                  <a href="login.html">
                  <div class = "login_button">
                      Login
                  </div>
              </a>
            </div>
        </div>
          <div class ="lower_body">
              <!--the nav_bar contains the links to home and trending-->
              <div class="nav_bar">
                  <a href="home.html">Home</a><br>
                  <a href="trending.html">Trending</a>
              </div>
              <div class="main_body">
                    <!--this is where the POSTS start-->

                    <!--post#1 (CONTENT FILLED)-->
                    <div class="posts">
                            <div class="posts_header">
                                <div class="profile_picture_bubble"></div>
                                <span class="user_name">John Doe</span>
                            </div>
                            <h3>LF Animusika VIP tickets</h3>
                            <p>Anyone selling their VIP tickets? Really wanted to see Zild and Munimuni perform. 
                                NEed 2 plssz
                            </p>
                            <div class="posts_footer">
                                <!-- these buttons leading to login.html is temporary-->
                                <a  onclick="render_comments(this.parentNode.parentNode);" class="action_button"><div class="comment_icon"></div>
                                <div class="actions" >comment</div></a>
                                <a onclick="render_upvote(this)"><div class="upvote_icon"></div>
                                <div class="actions">upvote</div></a>
                                <a onclick="render_downvote(this)"><div class="downvote_icon"></div>
                                <div class="actions">downvote</div></a>
                            </div>
                            <div class="comment_section">       
                                <div class="comment_feed">
                                    
                                </div>
                                <span class="center_align width_100">
                                    <div class="create_comment">
                                        <form id="create_comment_form">
                                            <textarea placeholder="Write a comment..." id="create_comment_input" name ="create_comment_input"></textarea>
                                            <input type="button" value="post" id="create_comment_button" onclick="post_comment(this.parentNode.parentNode.parentNode.parentNode)">
                                        </form>
                                    </div>
                                </span>     
                            </div>
                    </div>

                    <!--post#2 (CONTENT FILLED)-->
                    <div class="posts">
                            <div class="posts_header">
                                <div class="profile_picture_bubble"></div>
                                <span class="user_name">Yuri B</span>
                            </div>
                            <h3>CCAPDEV</h3>
                            <p>About to take up CCAPDEV, is it a difficult subject as others say? I failed an
                                HTML class back in high school eh, and I'm worried that it might
                                happen again.
                            </p>
                            <div class="posts_footer">
                                <!-- these buttons leading to login.html is temporary-->
                                <a  onclick="render_comments(this.parentNode.parentNode);" class="action_button"><div class="comment_icon"></div>
                                <div class="actions" >comment</div></a>
                                <a onclick="render_upvote(this)"><div class="upvote_icon"></div>
                                <div class="actions">upvote</div></a>
                                <a onclick="render_downvote(this)"><div class="downvote_icon"></div>
                                <div class="actions">downvote</div></a>
                            </div>
                            <div class="comment_section">       
                                <div class="comment_feed">
                                    
                                </div>
                                <span class="center_align width_100">
                                    <div class="create_comment">
                                        <form id="create_comment_form">
                                            <textarea placeholder="Write a comment..." id="create_comment_input" name ="create_comment_input"></textarea>
                                            <input type="button" value="post" id="create_comment_button" onclick="post_comment(this.parentNode.parentNode.parentNode.parentNode)">
                                        </form>
                                    </div>
                                </span>     
                            </div>
                    </div>

                    <!--post#3 (CONTENT FILLED)-->
                    <div class="posts">
                            <div class="posts_header">
                                <div class="profile_picture_bubble"></div>
                                <span class="user_name">Miguel Ohara</span>
                            </div>
                            <h3>Lost ID</h3>
                            <p>DID ANYONE FIND MY ID? I NEED IT CAUSE IT INCLUDES A KEYCARD TO MY CONDO. I was in the Andrew building and
                                my ID no. is 12302099.
                            </p>
                            <div class="posts_footer">
                                <!-- these buttons leading to login.html is temporary-->
                                <a  onclick="render_comments(this.parentNode.parentNode);" class="action_button"><div class="comment_icon"></div>
                                <div class="actions" >comment</div></a>
                                <a onclick="render_upvote(this)"><div class="upvote_icon"></div>
                                <div class="actions">upvote</div></a>
                                <a onclick="render_downvote(this)"><div class="downvote_icon"></div>
                                <div class="actions">downvote</div></a>
                            </div>
                            <div class="comment_section">       
                                <div class="comment_feed">
                                    
                                </div>
                                <span class="center_align width_100">
                                    <div class="create_comment">
                                        <form id="create_comment_form">
                                            <textarea placeholder="Write a comment..." id="create_comment_input" name ="create_comment_input"></textarea>
                                            <input type="button" value="post" id="create_comment_button" onclick="post_comment(this.parentNode.parentNode.parentNode.parentNode)">
                                        </form>
                                    </div>
                                </span>     
                            </div>
                    </div>

                    <!--post#4 (CONTENT FILLED)-->
                    <div class="posts">
                            <div class="posts_header">
                                <div class="profile_picture_bubble"></div>
                                <span class="user_name">Sophia Sanchez</span>
                            </div>
                            <h3>SOE???</h3>
                            <p>Can anyone tell me why it is "School" of Economics and not COLLEGE of Economics? Di ko tuloy feel na
                                college ako :(
                            </p>
                            <div class="posts_footer">
                                <!-- these buttons leading to login.html is temporary-->
                                <a  onclick="render_comments(this.parentNode.parentNode);" class="action_button"><div class="comment_icon"></div>
                                <div class="actions" >comment</div></a>
                                <a onclick="render_upvote(this)"><div class="upvote_icon"></div>
                                <div class="actions">upvote</div></a>
                                <a onclick="render_downvote(this)"><div class="downvote_icon"></div>
                                <div class="actions">downvote</div></a>
                            </div>
                            <div class="comment_section">       
                                <div class="comment_feed">
                                    
                                </div>
                                <span class="center_align width_100">
                                    <div class="create_comment">
                                        <form id="create_comment_form">
                                            <textarea placeholder="Write a comment..." id="create_comment_input" name ="create_comment_input"></textarea>
                                            <input type="button" value="post" id="create_comment_button" onclick="post_comment(this.parentNode.parentNode.parentNode.parentNode)">
                                        </form>
                                    </div>
                                </span>     
                            </div>
                    </div>

                    <!--post#5(CONTENT FILLED)-->
                    <div class="posts">
                            <div class="posts_header">
                                <div class="profile_picture_bubble"></div>
                                <span class="user_name">Xavier Mendez</span>
                            </div>
                            <h3>Civ Eng -> Game Design</h3>
                            <p>Just shifted from Civil Engineering to Game Design and I have never felt happier. I had to endure my calculus classes
                                for a whole year because of my parents' pressure and I was miserable. It just isn't for me, and that made me realize that 
                                I want to pursue my passion for gaming. I have never looked back since. If you are reading this, feeling like you're in
                                a course you don't belong, this is your sign to take a leap of faith.
                            </p>
                            <div class="posts_footer">
                                <!-- these buttons leading to login.html is temporary-->
                                <a  onclick="render_comments(this.parentNode.parentNode);" class="action_button"><div class="comment_icon"></div>
                                <div class="actions" >comment</div></a>
                                <a onclick="render_upvote(this)"><div class="upvote_icon"></div>
                                <div class="actions">upvote</div></a>
                                <a onclick="render_downvote(this)"><div class="downvote_icon"></div>
                                <div class="actions">downvote</div></a>
                            </div>
                            <div class="comment_section">       
                                <div class="comment_feed">
                                    
                                </div>
                                <span class="center_align width_100">
                                    <div class="create_comment">
                                        <form id="create_comment_form">
                                            <textarea placeholder="Write a comment..." id="create_comment_input" name ="create_comment_input"></textarea>
                                            <input type="button" value="post" id="create_comment_button" onclick="post_comment(this.parentNode.parentNode.parentNode.parentNode)">
                                        </form>
                                    </div>
                                </span>     
                            </div>
                    </div>
                  
              </div>
          </div>
      </div>
    </body>
</html>
