<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="./css/manipulate_account.css">
        <title>Maintenance</title>
    </head>
    <body>
        <div class="center_justify">
        <a id="home_icon" href="home(visitor).html">
        </a>
        <h1 class="announcement">This feature is under progress...</h1>
        <a class="announcement" href="register.html">In the meantime, why not join our community and share your unique perspectives with us...</a>
        </div>
    </body>
</html>