<!DOCTYPE html>
<html>
    <head>
        <title>Post (Visitor Mode)</title>
        <link rel="stylesheet" href="./css/pages_with_content.css">
        <script type="text/javascript" src="../scripts/posts.js"></script>
  </head>
  
  <body onload ="profile_redirect_visitor();">
      <div class="page">
          <div class="header">
              <span class="animo_hub">AnimoHub</span>
              <form id ="search">
                <input type="text" placeholder="search AnimoHub" class="search_bar">
                <input type="submit" value="Search" class="search_button">
              </form>
              <a href="login.html">
                  <div class = "login_button">
                      Login
                  </div>
              </a>
            </div>
        </div>
    <div class ="lower_body">
        <!--the nav_bar contains the links to home and trending-->
        <div class="nav_bar">
            <a href="home(visitor).html">Home</a><br>
            <a href="maintenance_page.html">Trending</a>
        </div>

        <div class="main_body">
            
            <div class="posts">
                <div class="posts_header">
                    <div class="profile_picture_bubble Sophia"></div>
                    <span class="user_name">Sophia Mendez</span>
                </div>
                <h3>SOE???</h3>
                <p>Can anyone tell me why it is "School" of Economics and not COLLEGE of Economics? 
                    Di ko tuloy feel na college ako :(
                </p>
                <div class="posts_footer">
                <!-- these buttons leading to login.html is temporary-->
                    <a  onclick="render_comments(this.parentNode.parentNode);" class="action_button"><div class="comment_icon"></div>
                    <div class="actions" >comment</div></a>
                    <a onclick="render_upvote(this)"><div class="upvote_icon"></div>
                    <div class="actions">upvote</div></a>
                    <a onclick="render_downvote(this)"><div class="downvote_icon"></div>
                    <div class="actions">downvote</div></a>
                </div>
                <div class="comment_section"> 
                    <div class="comment_feed">
                        <div class="indiv_comment_container">
                            <div class="comment_header">
                                <div class="profile_picture_bubble Miguel"></div>
                                <span class="user_name">Miguel Ohara</span>
                            </div>
                            <p>Cheer up!! Folks from SOE are some the brightest I know.</p>
                        </div>
                        <div class="posts_footer">
                            <!-- these buttons leading to login.html is temporary-->
                                <a  href="./register.html"><div class="login_icon"></div>
                                <div class="actions" >sign up</div></a>
                                <a onclick="render_upvote(this)"><div class="upvote_icon"></div>
                                <div class="actions">upvote</div></a>
                                <a onclick="render_downvote(this)"><div class="downvote_icon"></div>
                                <div class="actions">downvote</div></a>
                        </div>
                    </div>

                </div>
                <hr>
                <p class="informative_text">Join AnimoHub to participate in the discussion and add your insights</p>
                
                
            </div>
        </div>
        
    </div>

    
      
  </body>
  
</html>
