<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="./css/pages_with_content.css">
        <script type="text/javascript" src="../scripts/posts.js"></script>
        <title>Profile Page</title>
    </head>
    <body onload="profile_redirect_visitor();">
        <div class="page">
            <div class="header">
                <span class="animo_hub">AnimoHub</span>
                <form id ="search">
                <input type="text" placeholder="search AnimoHub" class="search_bar">
                <input type="submit" value="Search" class="search_button">
                </form>
                <a href="login.html">
                  <div class = "login_button">
                      Login
                  </div>
              </a>
        </div>
        <div class ="lower_body">
            <!--the nav_bar contains the links to home and trending-->
            <div class="nav_bar">
                <a href="home(visitor).html">Home</a><br>
                <a href="maintenance_page.html">Trending</a>
            </div>
            <div class="main_body">
                <!--profile_header consists of two rows-->
                <div class="profile_header">
                    <div class="cover_photo Yuri_cover"></div>
                    <div class="profile_details">
                        <div class="profile_picture YuriB"></div> <!--@yuridaboat-->
                        <div class="name">Yuri B</div>
                        <div class="edit"></div>
                    </div>
                    <hr id ="profile_header_break">
                </div>
                <div class="main_lower_body">
                    <div class="profile_nav_bar">
                        <a href="post(visitor)_YuriB.html">Posts</a>
                        <a href="maintenance_page(visitor).html">Comments</a>
                        <a href="maintenance_page(visitor).html">Upvotes</a>
                        <a href="maintenance_page(visitor).html">downvotes</a>
                    </div>
                    <div class="feed">
                        <div class="about_me">
                            <h3>About Me</h3>
                            <hr>
                            <p>BS in Information Technology | stressed af (need help) | ID121 | Loves mountain climbing and frisbee
                            </p>
                        </div>
               
                        <div id="new_post">
                            <!--this is where the posts will be rendered-->
                        </div>
                        <div class="posts">
                            <div class="posts_header">
                                <div class="profile_picture_bubble YuriB"></div>
                                <span class="user_name">Yuri B</span>
                            </div>
                            <h3>CCAPDEV</h3>
                            <p>About to take up CCAPDEV, is it a difficult subject as others say? I failed an
                                HTML class back in high school eh, and I'm worried that it might
                                happen again.
                            </p>
                            <div class="posts_footer">
                                <!-- this buttons leading to login.html is temporary-->
                                <a  onclick="render_comments(this.parentNode.parentNode);" class="action_button"><div class="comment_icon"></div>
                                <div class="actions" >comment</div></a>
                                <a onclick="render_upvote(this)"><div class="upvote_icon"></div>
                                <div class="actions">upvote</div></a>
                                <a onclick="render_downvote(this)"><div class="downvote_icon"></div>
                                <div class="actions">downvote</div></a>
                            </div>
                            <div class="comment_section">       
                                <div class="comment_feed">
                                    
                                </div>
                                <span class="center_align width_100">
                                    <div class="create_comment">
                                    <form id="create_comment_form">
                                        <textarea placeholder="Write a comment..." id="create_comment_input" name ="create_comment_input"></textarea>
                                        <input type="button" value="post" id="create_comment_button" onclick="post_comment(this.parentNode.parentNode.parentNode.parentNode)">
                                    </form>
                                
                                    </div>
                                </span>     
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </body>
</html>
