<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="./css/manipulate_account.css">
        <title>Register</title>
    </head>
    <body>
        <div class="content">
            <div class ="greenHeader">
                <a id="home_icon" href="editprofile.html"></a>
            </div>
            <div class ="titleBox">
                <br>
                Create New Account
            </div>
            <div class ="mainForm">
                <form>
                    <label for ="email">Email</label><br>
                    <input type ="email" id ="email" name ="email"><br>
                    <label for ="password">Password</label><br>
                    <input type ="password" id ="password" name ="password"><br>
                    <label for="confirmpassword">Confirm Password</label><br>
                    <input type="password" id="confirmpassword" name="confirmpassword"><br>
                    <label for ="username">Username</label><br>
                    <input type ="text" id ="username" name ="username"><br>
                    <label for ="idnumber">ID Number</label><br>
                    <input type ="text" id ="idnumber" name ="idnumber"><br>
                    <label for ="contactnumber">Contact Number</label><br>
                    <input type ="text" id ="contactnumber" name ="contactnumber"><br>
                    <label for="firstname">First Name</label><br>
                    <input type="text" id="firstname" name="firstname"><br>
                    <label for="lastname">Last Name</label><br>
                    <input type="text" id="lastname" name="lastname"><br>
                    <div class="center">
                        <input type ="submit" value ="REGISTER"><br>
                        <div class="register_login_footer">Already have an account? <a href="login.html">Log In</a></div>
                    </div>
                </form>
            </div>
        </div>
        
    </body>
</html>