<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="./css/manipulate_account.css">
        <script type="text/javascript" src="../scripts/account_validation.js"></script>
        <title>Register</title>
    </head>
    <body>
        <div class="content">
            <div class ="greenHeader">
                <a id="home_icon" href="home(visitor).html"></a>
            </div>
            <div class ="titleBox">
                <br>
                Create New Account
            </div>
            <div class ="mainForm">
                <form id="sign_up_form" action="./profile_page_John.html" onsubmit="sign_up_validation();">
                    <label for ="email">Email<span class="required">*</span></label><br>
                    <input type ="email" id ="email" name ="email" required><br>
                    <div id="warning">Enter a strong password. Have it atleast 8 characters long with atleast 1 lowercase, 1 uppercase, and 1 digit.<br></div>
                    <label for ="password">Password<span class="required">*</span></label><br>
                    <input type ="password" id ="password" name ="password" minlength="8" required><br>
                    <label for="confirm_password">Confirm Password<span class="required">*</span></label><br>
                    <input type="password" id="confirm_password" name="confirm_password" minlength="8" required><br>
                    <label for ="username">Username<span class="required">*</span></label><br>
                    <input type ="text" id ="username" name ="username" required><br>
                    <label for ="idnumber">ID Number<span class="required">*</span></label><br>
                    <input type ="text" id ="idnumber" name ="idnumber" required><br>
                    <label for ="contact_number">Contact Number</label><br>
                    <input type ="text" id ="contact_number" name ="contact_number"><br>
                    <label for="firstname">First Name<span class="required">*</span></label><br>
                    <input type="text" id="firstname" name="firstname" required><br>
                    <label for="lastname">Last Name<span class="required">*</span></label><br>
                    <input type="text" id="lastname" name="lastname" required><br>
                    <div class="center">
                        <input type ="submit" value ="REGISTER"><br>
                        <div class="register_login_footer">Already have an account? <a href="login.html">Log In</a></div>
                    </div>
                </form>
            </div>
        </div>
        
    </body>
</html>