body{
    @import: url('https://fonts.googleapis.com/css2?family=Inter&family=Montserrat&display=swap');
    font-family:Inter,sans-serif;
    font-size:16px;
    display:flex;
    justify-content: center;
    align-items: center;

    background-color:#0D8828;
}
.content{
    display:flex;
    flex-direction: column;
    align-items: center;
    width:55%;
}
a.link{
    color:#0D8828;
}
.footer{
    color:#797878;
}
.buttonText{
    color:#FFFFFF;
    font-weight:bold;
}
input[type=text]{
    width:723px;
    height:53px;
}
input[type=submit]{
    width:318px;
    height:69px;
}
.greenHeader{
    background-color: #0D8828;
    display:flex;
    align-items: center;
    width:100%;
    height:280px;

}
.titleBox{
    border-radius:50px;
    background-color:#D9D9D9;
    font-size:16px;
    font-weight:bold;
    color:#797878;
    text-align: center;
    width:60%;
    height:200px;
    position:relative;
    top:-30px;
    z-index: 0;
    padding-top:5px;
}
.mainForm{
    border-radius:50px;
    background-color:#FFFFFF;
    display:flex;
    align-items: center;
    flex-direction: column;
    position:relative;
    top:-175px;
    width:60%;
    height:70%;
    z-index: 1;

}

form{
    margin:5px;
    padding:5px;
    position:relative;
    width:40%;
    justify-content: center;
}
form input{
    margin:3px;
    margin-bottom:15px;
    padding:3px;
    width:60%;
}
form label{
    margin:3px;
    padding:3px;
    font-size:12px;
}
input[type='text']{
    border-radius:50px;
    width:90%;
    height:10px;
}
input[type='email']{
    border-radius:50px;
    width:90%;
    height:10px;
}
input[type='password']{
    border-radius:50px;
    width:90%;
    height:10px;
}

#edit_profile_form{
    align-items: center;
    width:50%;
    margin:5px;
    padding:3px;
    justify-content: center;
}
input[type='file']::file-selector-button{
    margin:2px;
    margin-bottom:15px;
    height:20px;
    width:55%;
    border-radius: 50px;

}
.center{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin:3px;
    padding:3px;
}
input[type='submit']{
    border-radius:50px;
    background-color:#0D8828;
    color:#FFFFFF;
    font-weight:bold;
    font-size:16px;
    height:30px;
    width: 85%;
    
}
.register_login_footer{
    color:#797878;
    font-size:11px;
    width:100%;
    text-align: center;
}
a {
    color:#0D8828;
    text-decoration:none;
}

label[for='remember_me']{
    color:#797878;
    font-size:11px;
    padding:2px;
    margin:2px;
    position:relative;

}
.remember_text{
    color:#797878;
}
input[type='checkbox']{
    border-radius:2px;
    margin:2px;
    padding:2px;
    width:5%;
    position:relative;
    top:2px;
}
textarea{
    border-radius:50px;
    margin:3px;
    margin-bottom:15px;
    outline-width:16px;
    height:40px;
    width:90%;
}

#menu_icon{
    background-image: url(../../assets/icons/menu.svg);
    background-size: cover;
    height:100px;
    width:100px;
}

#home_icon{
    background-image: url(../../assets/icons/home.svg);
    background-size: cover;
    height:100px;
    width:100px;
   
}