<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="./css/pages_with_content.css">
        <script type="text/javascript" src="../scripts/posts.js"></script>
        <title>Profile Page</title>
    </head>
    <body onload="profile_redirect_visitor();">
        <div class="page">
            <div class="header">
                <span class="animo_hub">AnimoHub</span>
                <form id ="search">
                <input type="text" placeholder="search AnimoHub" class="search_bar">
                <input type="submit" value="Search" class="search_button">
                </form>
                <a href="login.html">
                  <div class = "login_button">
                      Login
                  </div>
              </a>
        </div>
        <div class ="lower_body">
            <!--the nav_bar contains the links to home and trending-->
            <div class="nav_bar">
                <a href="home(visitor).html">Home</a><br>
                <a href="maintenance_page.html">Trending</a>
            </div>
            <div class="main_body">
                <!--profile_header consists of two rows-->
                <div class="profile_header">
                    <div class="cover_photo Xavier_cover"></div>
                    <div class="profile_details">
                        <div class="profile_picture Xavier"></div>
                        <div class="name">Xavier Mendez</div> <!--@xavage-->
                        <div class="edit"></div>
                    </div>
                    <hr id ="profile_header_break">
                </div>
                <div class="main_lower_body">
                    <div class="profile_nav_bar">
                        <a href="post(visitor)_Xavier.html">Posts</a>
                        <a href="maintenance_page(visitor).html">Comments</a>
                        <a href="maintenance_page(visitor).html">Upvotes</a>
                        <a href="maintenance_page(visitor).html">downvotes</a>
                    </div>
                    <div class="feed">
                        <div class="about_me">
                            <h3>About Me</h3>
                            <hr>
                            <p>Civil Engineer | Aspiring Tech Entrepreneur | Game Designer
                            </p>
                        </div>
  
                        <div id="new_post">
                            <!--this is where the posts will be rendered-->
                        </div>
                        <div class="posts">
                            <div class="posts_header">
                                <div class="profile_picture_bubble Xavier"></div>
                                <a class="post_link" href="post(visitor)_Xavier.html">
                                <span class="user_name">Xavier Mendez</span>
                            </div>
                            <h3>Civ Eng -> Game Design</h3>
                            <p>Just shifted from Civil Engineering to Game Design and I have never felt happier. I had to endure my calculus classes
                                for a whole year because of my parents' pressure and I was miserable. It just isn't for me, and that made me realize that 
                                I want to pursue my passion for gaming. I have never looked back since. If you are reading this, feeling like you're in
                                a course you don't belong, this is your sign to take a leap of faith.
                            </p>
                            </a>
                            <div class="posts_footer">
                                <!-- this buttons leading to login.html is temporary-->
                                <a  onclick="render_comments(this.parentNode.parentNode);" class="action_button"><div class="comment_icon"></div>
                                <div class="actions" >comment</div></a>
                                <a onclick="render_upvote(this)"><div class="upvote_icon"></div>
                                <div class="actions">upvote</div></a>
                                <a onclick="render_downvote(this)"><div class="downvote_icon"></div>
                                <div class="actions">downvote</div></a>
                            </div>
                            <div class="comment_section">       
                                <div class="comment_feed">
                                    
                                </div>
                                <span class="center_align width_100">
                                    <a href="register.html">
                                        <div class="informative_text text_center">
                                        Join AnimoHub to participate in the discussion and add your insights
                                        </div>
                                    </a>
                                </span>     
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </body>
</html>
