<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/css/manipulate_account.css">
        <script type="text/javascript" src="../scripts/account_validation.js"></script>
        <title>Login</title>
    </head>
    <body>
        <div class="content">
            <div class ="greenHeader">
                <a id="home_icon" href="home(visitor).html"></a>
            </div>
            <div class ="titleBox">
                <br>
                Log In to your Account
            </div>
            <div class ="mainForm">
                <form id ="login"  method="post">
                    <label for ="email" required>Email</label><br>
                    <input type ="email" id ="email" name ="email"><br>
                    <label for ="password" required>Password</label><br>
                    <input type ="password" id ="password" name ="password"><br>
                    <input type ="checkbox" id ="remember_me" name ="remember_me" value="remember_me">
                    <label for ="remember_me" class="remember_text">Remember Me</label>
                    
                    <div class="center">
                        <br>
                        <input type ="submit" value ="LOG IN"><br>
                        <div class="register_login_footer">Don't have an account yet? <a href="/register">Register here</a></div>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>