<div class="profile_nav_bar">
                            <a href="/getComments?userName=userName">Comments</a>
                            <a href="/getUpvotes?userName=userName">Upvotes</a>
                            <a href="/getDownvotes?userName=userName">downvotes</a>
 </div>