<div class="profile_nav_bar">
                            <a href="post(loggedin)_John.html">Posts</a>
                            <a href="maintenance_page.html">Comments</a>
                            <a href="maintenance_page.html">Upvotes</a>
                            <a href="maintenance_page.html">downvotes</a>
 </div>