

<a class="upvote_button" id="upvote_{{button_id}}">
            <div class="upvote_icon"></div>
            <span class="actions">{{upvotes}}</span>
        </a>
        <a class="downvote_button" id="downvote_{{button_id}}">
            <div class="downvote_icon"></div>
            <span class="actions">{{downvotes}}</span>
        </a>